.slider {
	background: #141414;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.slider>img {
	position: absolute;
	z-index: 123;
}

.slider figure {
	position: relative;
	transition: 2s;
}

.slider_container {
	position: relative;
	height: 600px;
	width: 100%;
	overflow: hidden;
}


#feedback .slider  {
	background: none;
}
.slider_pointers {
	position: absolute;
	margin: 0;
	padding: 0;
	z-index: 123;
	top: 70%;
}

#slider_descriptions {
	position: absolute;
	z-index: 6;
	color: white;
	bottom: 0;
	display: flex;
	left: 50%;
	transform: translateX(-50%);
}